@model pcongo.user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @Model.Id <br />
        @Model.FirstName <br />
        @Model.Email <br />
        @Model.Username<br />

    </div>
</body>
</html>
