@model pcongo.Models.DesktopViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Windows</title>
</head>
<body>
    <div>
        @Model.user.Username
    </div>
</body>
</html>
